<!-- <button (click)="loadUserProfile()">loadUserProfile</button> -->
<button matButton="outlined" class="fixed-exit-button" (click)="logout()"><mat-icon>logout</mat-icon>Exit</button>

<app-profile-view [profile]="resolvedProfile()"></app-profile-view>

<div style="display:flex; flex-direction: row; justify-content:space-evenly ; align-items: center; border: 0.5px solid beige ; border-radius: 7px; padding: 10px; margin: 5px 0 5px 0;">
    <app-playlist-list 
        style="margin-left: 5px; margin-right: 5px;"
        [playlists]="resolvedPlaylists()" 
        (playlist)="getPlaylist($event)">
    </app-playlist-list>
    <button 
        style="margin-left: 5px; margin-right: 5px;"
        [disabled]="isLoading()"
        matButton="outlined" 
        (click)="getTracks()">
        <mat-icon>sync</mat-icon>
        @if ( isLoading() ) {
            Loading...
        } @else {
            Load Tracks
        }
    </button>
</div>

@if ( fetchedTracks() != null ) {
<div style="display:flex; flex-direction: column; width: auto;">
    <button 
        matButton="outlined"
        (click)="downloadFetchedTracks()">
        <mat-icon>download</mat-icon>
        {{ downloadButtonLabel() }} ({{ fetchedTracks()?.length }})
    </button>
    <span style="margin: auto;">
        <small>last loaded at {{ fetchedTimestamp()?.toLocaleString() }}</small>
    </span>
</div>
}

